.ui-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

   &__label {
    font-size: 14px;
    color: #374151;
    font-weight: 500;
  }
  &__error {
    font-size: 14px;
    color: #ef4444;
  }
}