.comment-form {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    &__actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 16px;
  }
}
