  @import "style.css";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
}

main {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 16px;
}