.ui-modal-overlay {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
}

.ui-modal {
  height: 100%;
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-in-out;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.ui-modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.ui-modal-title {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
}

.ui-modal-content {
  height: 100%;
  overflow-y: auto;
  margin-top: 10px;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 650px) {
  .ui-modal {
    width: 100vw;
    height: 100dvh;
    border-radius: 0;
  }
  .ui-modal-overlay {
    padding: 0;
  }
}